/*Style Info for travel Page*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: rgb(26, 5, 119);
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white
}

nav ul li {
    display: inline;
    margin-right: 10px;
    
}

nav ul a {
    color: white;
}

body {
    background-image: url("./Barcelona from top 2.JPG");
    color: white;
    
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: left;
}
.row {
    display: flex;
}

.column1 {
    text-align: center;
    vertical-align: middle;
    font-family: Arial, Helvetica, sans-serif;
    width: 35%;
    padding-left: 5%;
    padding-top: 15%;
}

.column2 {
    text-align: center;
    vertical-align: middle;
    font-family: Arial, Helvetica, sans-serif;
    width: 35%;
    padding-left: 5%;


}

.column3 {
    text-align: center;
    vertical-align: middle;
    font-family: Arial, Helvetica, sans-serif;
    width: 85%;
    padding-left: 5%;
    padding-top: 15%;

}

p {
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    align-items: left;
}

.sidenav ul {
    width: 15%;
    position: relative;
    bottom: 20;
}

.btnBody {
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 4px;
    color: rgb(26, 5, 119);
    background-color: white;
    width: 150px;
}