/*Style Info for travel Page*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: rgb(26, 5, 119);
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white
}

nav ul li {
    display: inline;
    margin-right: 10px;
    
}

nav ul a {
    color: white;
}

body {
    background-image: url("./Barcelona from top 2.JPG");
    color: white;
    
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: left;
}

.column {
    text-align: center;
    vertical-align: middle;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    text-align: left;
}